@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Oks Free';
    src: url('../fonts/subset-OksFree.woff2') format('woff2'),
        url('../fonts/subset-OksFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
