@use '../helpers/helpers.scss' as *;

.btn {
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    min-height: 2.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.0938rem;
    padding: 0 2rem;
    transition: all 0.3s;
    @include hover {
        background: rgba(white, 0.1);
    }
    @include sm {
        width: 100%;
    }
}
