@use '../helpers/helpers.scss' as *;

.main-content {
    max-width: 70rem;
    display: grid;
    gap: 2.5rem;
    @include sm {
        gap: 1.5rem;
    }
}

.projects {
    display: flex;
    align-items: end;
    @include lg {
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }
    @include sm {
        margin: 1.5rem 0;
    }
    &__list {
        margin-top: -1.25rem;
        column-count: 2;
        column-gap: 7vw;
        &_3x {
            column-count: 3;
            column-gap: 3vw;
        }
        @include sm {
            column-count: 1;
        }
    }
    &__item {
        padding-top: 1.25rem;
    }
    &__link {
        text-transform: uppercase;
        letter-spacing: 0.0938rem;
        @include hover {
            text-shadow: 0 0px 1px white;
        }
    }
    &__other {
        margin-left: 3vw;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.0938rem;
        @include lg {
            margin-left: 0;
        }
    }
}

.content-socials {
    display: none;
    @include sm {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 999;
    background: #f2ebe5;
    color: $black-color;
    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    &__text {
        font-size: 1rem;
        letter-spacing: 2px;
        opacity: 0.7;
    }
}

.loader-line {
    height: 2px;
    width: 20rem;
    --c: no-repeat linear-gradient(#f5a07e 0 0);
    background: var(--c), var(--c), rgba(#3a3736, 0.1);
    background-size: 60% 100%;
    animation: l16 3s infinite;
}
@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0;
    }
    66% {
        background-position: 250% 0, -150% 0;
    }
    100% {
        background-position: 250% 0, 250% 0;
    }
}
